@model WebApplication1.Models.Contract
@{
    ViewBag.Title = "_MultiFormPartial";
}
<div id="multiForm" class="innerWrapper rightInnerWrapper">
    <div>
        <table class="table">

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.IntContractNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.IntContractNum)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ContractOwner)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContractOwner.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ContractStatus)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContractStatus.Description)
                </td>
            </tr>
        </table>

    </div>
    <div class="bottomWrapper">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="CreateContract" type="submit" value="Weiter" class="textBtn" name="submit" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="SaveContract" type="submit" value="Speichern und zurück zur Übersicht" class="textBtn" name="submit" />
            </div>
        </div>
    </div>
</div>

